<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
/>
<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [position]="'top'"
  [style]="{ width: '25rem', height: 'auto' }"
  [draggable]="true"
  [resizable]="true"
  [closable]="false"
  class="cadastro-cliente-dialog"
  appendTo="body"
>
  <ng-template #header>
    <div class="card w-full m-0 p-0">
      <h1 class="text-lg font-bold">
        {{ idCliente ? 'Editar Cliente' : 'Adicionar Cliente' }}
      </h1>
      <p-divider class="w-full m-0 p-0" />
    </div>
  </ng-template>
  <div class="flex justify-center">
    <form
      class="w-full"
      [formGroup]="clienteForm"
      (ngSubmit)="onSubmitClienteForm()"
    >
      <div class="form-group flex justify-center text-center flex-col">
        <label
          for="nome"
          class="font-semibold !text-sm flex justify-start !py-1"
          >Nome</label
        >
        <input
          id="cliente-form-nome"
          formControlName="nome"
          pInputText
          type="text"
          placeholder="Digite o Nome"
          class="!w-full"
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('nome')?.touched && clienteForm.get('nome')?.invalid"
        >
          {{getError('Nome','o','nome')}}
        </small>
      </div>
      <div class="form-group flex justify-center text-center flex-col">
        <label
          for="email"
          class="font-semibold !text-sm flex justify-start !py-1"
          >Email</label
        >
        <input
          id="cliente-form-email"
          formControlName="email"
          pInputText
          type="email"
          placeholder="Digite o Email"
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('email')?.touched && clienteForm.get('email')?.invalid"
        >
          {{getError('Email','o','email')}}
        </small>
      </div>
      <div class="form-group flex justify-center text-center flex-col">
        <label for="cpf" class="font-semibold !text-sm flex justify-start !py-1"
          >CPF</label
        >
        <p-inputmask
          id="cliente-form-cpf"
          formControlName="cpf"
          mask="999.999.999-99"
          placeholder="999.999.999-99"
          [style]="{ width: '100%' }"
          cpfValidator
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('cpf')?.touched && clienteForm.get('cpf')?.invalid"
        >
          {{getError('CPF','o','cpf')}}
        </small>
      </div>
      <div class="form-group flex justify-center text-center flex-col">
        <label
          for="data-nascimento"
          class="font-semibold !text-sm flex justify-start !py-1"
          >Data de Nascimento</label
        >
        <p-datepicker
          inputId="cliente-form-data-nascimento"
          formControlName="dataNascimento"
          dateFormat="dd/mm/yy"
          showIcon="true"
          [maxDate]="maxDate"
          [readonlyInput]="true"
          placeholder="dd/mm/yy"
          appendTo="body"
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('dataNascimento')?.touched && clienteForm.get('dataNascimento')?.invalid"
        >
          {{getError('Data de nascimento','a','dataNascimento')}}
        </small>
      </div>
      <div class="form-group flex justify-center text-center flex-col">
        <label
          for="contato"
          class="font-semibold !text-sm flex justify-start !py-1"
          >Contato</label
        >
        <input
          formControlName="contato"
          type="text"
          [mask]="CEL_TEL"
          placeholder="(XX) XXXXX-XXXX"
          maxlength="15"
          class="form-control"
          ngxMask
          class="p-inputtext p-component w-full border-none shadow-none focus:ring-0 focus:border-transparent"
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('contato')?.touched && clienteForm.get('contato')?.invalid"
        >
          {{getError('Contato','o','contato')}}
        </small>
      </div>
      <div class="form-group flex justify-center flex-col">
        <label
          for="pais"
          class="font-semibold !text-sm flex justify-start !py-1"
          >País</label
        >
        <p-select
          formControlName="pais"
          [options]="(paisesData$ | async) || []"
          optionLabel="name"
          placeholder="Selecione o pais"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
          appendTo="body"
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('pais')?.touched && clienteForm.get('pais')?.invalid"
        >
          {{getError('País','o','pais')}}
        </small>
      </div>
      <div class="form-group flex justify-center flex-col">
        <label
          for="estado"
          class="font-semibold !text-sm flex justify-start !py-1"
          >Estado</label
        >
        <p-select
          formControlName="estado"
          [options]="(estadosData$ | async) || []"
          optionLabel="name"
          placeholder="Selecione o estado"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          class="w-full"
          [virtualScroll]="true"
          [virtualScrollItemSize]="38"
          [loading]="loading"
          appendTo="body"
        />
        <small
          class="p-error !text-sm text-red-500 flex justify-start !py-1"
          *ngIf="clienteForm.get('estado')?.touched && clienteForm.get('estado')?.invalid"
        >
          {{getError('Estado','o','estado')}}
        </small>
      </div>
      <div class="h-24"></div>
    </form>
  </div>
  <ng-template #footer>
    <div class="card w-full flex flex-col">
      <p-divider class="w-full" />
      <div class="flex justify-end gap-2">
        <p-button
          label="Cancelar"
          severity="secondary"
          (onClick)="closeModal()"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          label="Salvar"
          (onClick)="onSubmitClienteForm()"
          type="submit"
          pRipple
          [disabled]="!clienteForm.valid"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
